.Page {
    margin: 10px 15px 10px;
    font: 24px "Calibri", sans-serif;
}

.Page-hidden {
    display: none;
}

#HomePage-form {
    position: sticky;
    top: 40px;
    height: 550px;
    overflow-y: auto;
    flex: 1;
    padding-right: 50px;
}

#HomePage-inv {
    flex: 1;
}

#HomePage-whole {
    display: flex;
}

#HomePage-inv h1 {
    text-align: left;
    margin-left: 160px;
}

#HomePage-list {
    display: block;
    flex-wrap: wrap;
    justify-content: center;
}

@media (max-width: 940px) {
    #HomePage-whole {
        flex-direction: column;
    }

    #HomePage-form {
        position: unset;
    }
}